table{
    td:hover{
        color: #ffc000;
    }
    th{
        color:#ffc000;
        font-weight: bold;
        text-align: left;
    }
    td{
        padding-left: 2%;
        color: whitesmoke;
        text-align: left;
    }
    tr{
        margin-top: 5%;
    }
}