.container{
    background-color: #202020;
    h1{
        font: brown;
        span{
            font-family: 'Gloria Hallelujah', cursive;
            font-size: 1.2em;
            color: #ffc000;
        }
    }
}
